In [1]:
%run TreePrinter.ipynb

In [2]:
import findspark
findspark.init('/usr/local/spark')

In [3]:
import pyspark,pyodbc

In [4]:
from pyspark import SparkContext, SparkConf, SQLContext
import _mssql
import pandas as pd

In [5]:
master="local"
conf = SparkConf() \
    .setAppName("pysparkToAzure") \
    .setMaster(master) \
    .set("spark.driver.extraClassPath","/home/mosaico/Documents/mosaico/sqljdbc_8.2/mssql-jdbc-8.2.0.jre11.jar")\
    .set("spark.executor.extraClassPath","/home/mosaico/Documents/mosaico/sqljdbc_8.2/mssql-jdbc-8.2.0.jre11.jar")
sc=pyspark.SparkContext(conf=conf)

sc.stop()

In [6]:
sc.appName

'pysparkToAzure'

In [7]:
sqlContext = SQLContext(sc)
spark = sqlContext.sparkSession

In [8]:
database = "Test"
ser="mosaico.database.windows.net,1433"
table = "dbo.DOCENTI"
user = "PanDario"
password = "Mosaico2020"

In [9]:
conn = pyodbc.connect(f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={ser};DATABASE={database};UID={user};PWD={password}')

In [10]:
def listTables(res:pd.core.frame.DataFrame):
    obj=res['TABLE_NAME']
    list=[]
    for x in obj:
        list.append(x)
    return list
def listCols(res:pd.core.frame.DataFrame):
    obj=res.columns
    list=[]
    for c in obj:
        list.append(c)
    return list

QUERY DI TEST

In [16]:
query="SELECT * FROM  INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE'"
res=pd.read_sql(query, conn)
tablesName=listTables(res)
tables=[]
root=Node("Test",'DB')
for t in tablesName:
    tables.append(Node(t,'table'))
root.add_child(tables)
for t in tables:
    query="SELECT * FROM  {0} ".format(t.data)
    res=pd.read_sql(query, conn)
    leafs=listCols(res)
    for l in leafs:
        n=Node(l,'column')
        t.add_child(n)

pprint_tree(root)

`- Test
   |- STUDENTI
   |  |- NOME
   |  |- COGNOME
   |  |- CF
   |  `- IBAN
   `- PROFESSORI
      |- NOME
      `- COGNOME

### TEST DATAFRAME

In [11]:
sparkDF =  spark.createDataFrame(res)

In [15]:
sparkDF

DataFrame[TABLE_CATALOG: string, TABLE_SCHEMA: string, TABLE_NAME: string, TABLE_TYPE: string]